<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load censor %}

<!-- Название у нас будет news_list -->
{% block title %}
news
{% endblock title %}

<!-- В контенте на странице мы выводим новость -->
{% block content %}
   <h1>Новость</h1>
   <!-- Используем переданную из представления переменную time_now
   и применяем к ней фильтр date. По назначению этот фильтр очень похож
   на метод strftime у объекта datetime в Python — вывод времени
   в указанном формате. -->
   <h3>{{ time_now|date:'d M Y H: i' }}</h3>

   <hr>
   {% if news_list %}
       <table>
           <tr>
               <td>Название новости</td>
               <td>Текст</td>
               <td>Дата загрузки</td>
           </tr>

           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ news_list.title }}</td>
               <td>{{ news_list.text|censor }}</td>
               <td>{{ news_list.created|date:'d M Y H: i' }} </td>
           </tr>


       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}